ul, ol {
  display: table;
  list-style: none;
  padding-left: 0;
  & li {
    display: table-row;
    &:before {
      display: table-cell;
      padding-right: .4em;
    }
    &:after {
      display: block;
      content: "";
      /* li間の間隔の調整は以下でおこなう */
      /* margin-bottom: .5em; */
    }
  }
}
ul {
  & li {
    &:before {
      content: "•";
    }
  }
}
ol {
  & li {
    counter-increment: table-ol;
    &:before {
      content: counter(table-ol) ".";
      text-align: right;
    }
  }
}
